[run]
branch = True
omit =
    # UI shells (not testable)
    tuner/window.py
    calibration/window.py
    calibration/plotter.py
    tuner/tuner_plotter.py
    calibration/dialog.py
    diagnostic.py
    main.py
    # Skip tests from coverage
    tests/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: